.bg-primary {
    background-color: #ed2f34!important;
}
.title-border-bottom-primary:after {
    content: "";
    display: block;
    height: 0.2rem;
    background-color: #ed2f34;
    width: 50%;
    margin-top: 0.5rem;
}
a:hover {
    color: #0056b3;
    text-decoration: unset !important;
}